# Application
APP_NAME=Rockencatech
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database
DB_DATABASE=rockencatech
DB_USERNAME=rockencatech_user
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret

# Sanctum
SANCTUM_STATEFUL_DOMAINS=localhost:5173

# Frontend
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8000
